//mixins
@mixin transition ($val1,$val2,$val3){
  -webkit-transition: $val1 $val2 $val3;
  -o-transition: $val1 $val2 $val3;
  transition: $val1 $val2 $val3;
}

//color pallete
$light: #FFFFFF;
$page: #FAFAFA;
$red: #E21F1F;
$blue: #3E6BBC;

$dark1: #484848;
$dark2: #313131;

$green1: #6DBE45;
$green2: #99D968;
$green3: #A5E177;
$green4: #C1ECA0;

$grad-green: linear-gradient(90deg, $green1, $green2);
$grad-dark: linear-gradient(45deg, $dark1, $dark2);

//definitions
$border-radius: 5px;
$border-radius-left: 5px 0px 0px 5px;
$border-radius-right: 0px 5px 5px 0px;
$border-radius-top: 5px 5px 0px 0px;
$border-radius-bottom: 0px 0px 5px 5px;

$sombra: 0px 0px 5px rgba(0, 0, 0, .1);

.scroll{
  background: $grad-green;
  box-shadow: $sombra;
  height: 80px!important;
  @include transition(all,linear,.3s);

  .hero-logo{
    width: 128px!important;
    height: 43px!important;
    @include transition(all,linear,.3s);
  }
}