//color pallete
$light: #FFFFFF;
$page: #FAFAFA;
$red: #E21F1F;

$dark1: #484848;
$dark2: #313131;

$green1: #6DBE45;
$green2: #99D968;
$green3: #A5E177;
$green4: #C1ECA0;

$grad-green: linear-gradient(90deg, $green1, $green2);
$grad-dark: linear-gradient(90deg, $dark1, $dark2);

//definitions
$border-radius: 5px;